$char-bg-black: #010101;

.CharacterPage {
    color: $white;
    background: $char-bg-black;

    .page-wrapper {
        width: 100vw;
        position: relative;

        @media screen and (min-width: $tablet) {
            width: $tablet;
            margin: 0 auto;
        }
    }

    .bg {
        width: 100%;
    }

    .identity {
        @media screen and (min-width: $tablet) {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .name-wrapper {
        margin-bottom: 20px;
    }

    .name {
        font-family: 'Emilys Candy', cursive;
        text-transform: uppercase;
        font-size: 36px;
    }

    .role-wrapper {
        display: inline-block;
        margin-left: 30px;
        margin-bottom: 30px;
        padding-bottom: calc(0.375em - 1px);
        padding-left: 0.75em;
        padding-right: 0.75em;
        padding-top: calc(0.375em - 1px);
        background: $turquoise;

        @media screen and (min-width: $tablet) {
            background: $char-bg-black;
        }
    }

    .role {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
        text-transform: none;
        font-size: 24px;
        color: $black;

        @media screen and (min-width: $tablet) {
            color: $turquoise;
        }
    }

    .see-more {
        @media screen and (max-width: $tablet) {
            position: absolute;
            top: 15px;
            left: 15px;
        }
    }

    section {
        .subtitle,
        .title {
            color: white;
        }
    }
}
