.header-card {
    .title {
        color: $white;
    }

    div:first-child > button:not(:last-child) {
        margin-right: 15px;
    }

    > div {
        margin-bottom: 15px;
    }

    .centered-input {
        justify-content: center;
    }
}
