.App {
  width: 100vw;
  position: relative;
  color: white;
}

.bg {
  background: url('bg.png') no-repeat no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.content {
  position: absolute;
  top: 520px;
  left: 15px;
}

.name {
  font-family: 'Emilys Candy', cursive;
  text-transform: uppercase;
  font-size: 36px;
}

.role {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
  text-transform: none;
  font-size: 24px;
  color: hsl(164, 55%, 56%);
  background: black;
  margin-left: 30px;
  margin-bottom: 30px;
}