.cloud-container {
    .cloud {
        background: #fff;
        height: 4em;
        width: 9em;
        border-radius: 3em;
        position: absolute;
        animation-name: clouds;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    .cloud:before,
    .cloud:after {
        content: '';
        background: #fff;
        position: absolute;
        border-radius: 50%;
    }
    .cloud:before {
        height: 3em;
        width: 3em;
        top: -1.3em;
        left: 1.1em;
    }
    .cloud:after {
        height: 5em;
        width: 5em;
        top: -2em;
        right: 0.85em;
    }
    .cloud:nth-child(1) {
        top: 2em;
        left: 10em;
        animation-duration: 90s;
    }
    .cloud:nth-child(2) {
        top: 9em;
        left: 2.5em;
        opacity: 0.45;
        animation-duration: 120s;
    }
    .cloud:nth-child(3) {
        top: 15em;
        left: 11em;
        opacity: 0.65;
        animation-duration: 70s;
    }
    .cloud:nth-child(4) {
        top: 7em;
        left: 40em;
        opacity: 0.65;
        animation-duration: 70s;
    }
    .cloud:nth-child(5) {
        top: 17em;
        left: 30em;
        opacity: 0.25;
        animation-duration: 70s;
    }

    @keyframes clouds {
        0% {
            margin-left: -10%;
            opacity: 0;
        }
        15% {
            opacity: 100%;
        }
        100% {
            margin-left: 110%;
        }
    }
}
