$cloud-width: 15%;

.cloud-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    overflow: hidden;

    .cloud-container {
        position: relative;
        width: 100%;
        min-height: 100%;
        pointer-events: none;

        .cloud {
            background: #fff;
            width: $cloud-width;
            border-radius: 20% / 50%;
            position: absolute;
            pointer-events: none;
            left: -$cloud-width;

            .cloud-inner {
                width: 100%;
                padding-bottom: 50%;

                &:before,
                &:after {
                    background: #fff;
                    position: absolute;
                    border-radius: 50%;
                    content: '';
                }

                &:before {
                    height: 75%;
                    width: 40%;
                    margin-top: -10%;
                    margin-left: 10%;
                }

                &:after {
                    height: 100%;
                    width: 50%;
                    margin-top: -25%;
                    margin-left: 40%;
                }
            }
        }
        .cloud:nth-child(1) {
            top: 8%;
            opacity: 0.25;
            animation: clouds 90s 4s infinite linear,
                cloudsFadeIn 2s 4s ease-in-out;
        }
        .cloud:nth-child(2) {
            top: 30%;
            opacity: 0.45;
            animation: clouds 120s 8s infinite linear,
                cloudsFadeIn 2s 8s ease-in-out;
        }
        .cloud:nth-child(3) {
            top: 4%;
            opacity: 0.25;
            animation: clouds 70s 1s infinite linear,
                cloudsFadeIn 10s 1s ease-in-out;
        }
        .cloud:nth-child(4) {
            top: 17%;
            opacity: 0.45;
            animation: clouds 70s infinite linear, cloudsFadeIn 10s ease-in-out;
        }
        .cloud:nth-child(5) {
            top: 26%;
            opacity: 0.25;
            animation: clouds 70s 4s infinite linear,
                cloudsFadeIn 10s 4s ease-in-out;
        }

        @keyframes clouds {
            0% {
                opacity: 0;
                left: -$cloud-width;
            }
            100% {
                opacity: 100%;
                left: 100% + $cloud-width;
            }
        }
    }
}
