.home-hero {
    font-size: 4em;
    font-family: $spooky-font;
    color: $primary;
    overflow: hidden;

    h1 {
        display: inline-block;
    }

    .home-hero-subtitle {
        display: block;
        font-family: $family-sans-serif;
        font-size: 0.25em;
        font-weight: 400;
        letter-spacing: 0.1em;
        color: #75ffd1;
        text-transform: uppercase;
    }

    .home-hero-title {
        display: block;
        position: relative;
        width: 6.6em;
        height: 1.25em;
        margin-top: -0.25em;

        @media screen and (max-width: 650px) {
            font-size: 42px;
        }
    }

    .home-hero-title span {
        position: absolute;
        display: block;
    }

    .char1 {
        font-size: 1.15em;
        top: 0;
        left: 0;
        color: #a7ff91;
        animation: bounce-in 1000ms linear both;
    }
    .char2 {
        font-size: 0.75em;
        top: 0.25em;
        left: 1.25em;
        color: #a6ffaa;
        animation: bounce-in 1000ms linear both;
        animation-delay: 300ms;
    }
    .char3 {
        font-size: 0.65em;
        left: 2.25em;
        top: 0.25em;
        color: #8cffbc;
        animation: bounce-in 1000ms linear both;
        animation-delay: 500ms;
    }
    .char4 {
        font-size: 0.85em;
        left: 2.25em;
        top: 0.25em;
        color: #a7ff91;
        animation: bounce-in 1000ms 200ms linear both,
            swivel 9500ms 1200ms reverse linear infinite;
        transform-origin: 50% 0%;
    }
    .char5 {
        font-size: 0.55em;
        left: 4.5em;
        top: 0.5em;
        color: #a6ffaa;
        animation: bounce-in 1000ms linear both;
        animation-delay: 250ms;
    }
    .char6 {
        font-size: 0.9em;
        left: 3.21em;
        top: 0.05em;
        color: #8cffbc;
        animation: bounce-in 1000ms linear both;
        animation-delay: 800ms;
    }
    .char7 {
        font-size: 1.15em;
        left: 2.92em;
        top: -0.01em;
        color: #a7ff91;
        animation: bounce-in 1000ms linear both;
        animation-delay: 700ms;
    }
    .char8 {
        font-size: 0.75em;
        left: 5.72em;
        top: 0.25em;
        color: #a6ffaa;
        animation: bounce-in 1000ms linear both;
        animation-delay: 1100ms;
    }
    .char9 {
        font-size: 0.76em;
        left: 6.41em;
        top: 0.29em;
        color: #8cffbc;
        animation: bounce-in 1000ms linear both;
        animation-delay: 400ms;
    }
    .char10 {
        font-size: 0.96em;
        top: -0.08em;
        left: 5.72em;
        color: #a7ff91;
        animation: bounce-in 1000ms 1500ms linear both,
            swivel 8s 2500ms linear infinite;
        transform-origin: 50% 100%;
    }
    .char11 {
        font-size: 0.7em;
        left: 8.68em;
        top: 0.25em;
        color: #a6ffaa;
        animation: bounce-in 1000ms 1300ms linear both;
    }
}

@keyframes bounce-in {
    0% {
        transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0);
        opacity: 0;
    }
    3.333333% {
        transform: matrix3d(
            0.32635,
            0,
            0,
            0,
            0,
            0.68602,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    6.666667% {
        transform: matrix3d(
            0.61701,
            0,
            0,
            0,
            0,
            0.90691,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    10% {
        transform: matrix3d(
            0.86271,
            0,
            0,
            0,
            0,
            1.07226,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
        opacity: 1;
    }
    13.333333% {
        transform: matrix3d(
            1.03605,
            0,
            0,
            0,
            0,
            1.14684,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    16.666667% {
        transform: matrix3d(
            1.13384,
            0,
            0,
            0,
            0,
            1.14088,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    20% {
        transform: matrix3d(
            1.16809,
            0,
            0,
            0,
            0,
            1.08847,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    23.333333% {
        transform: matrix3d(
            1.15775,
            0,
            0,
            0,
            0,
            1.02623,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    26.666667% {
        transform: matrix3d(
            1.12245,
            0,
            0,
            0,
            0,
            0.97964,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    30% {
        transform: matrix3d(
            1.07861,
            0,
            0,
            0,
            0,
            0.95863,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    33.333333% {
        transform: matrix3d(
            1.03771,
            0,
            0,
            0,
            0,
            0.9603,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    36.666667% {
        transform: matrix3d(
            1.00612,
            0,
            0,
            0,
            0,
            0.97507,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    40% {
        transform: matrix3d(
            0.98596,
            0,
            0,
            0,
            0,
            0.99261,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    43.333333% {
        transform: matrix3d(
            0.9764,
            0,
            0,
            0,
            0,
            1.00574,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    46.666667% {
        transform: matrix3d(
            0.97499,
            0,
            0,
            0,
            0,
            1.01166,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    50% {
        transform: matrix3d(
            0.97875,
            0,
            0,
            0,
            0,
            1.01119,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    53.333333% {
        transform: matrix3d(
            0.98493,
            0,
            0,
            0,
            0,
            1.00702,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    56.666667% {
        transform: matrix3d(
            0.99143,
            0,
            0,
            0,
            0,
            1.00208,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    60% {
        transform: matrix3d(
            0.99693,
            0,
            0,
            0,
            0,
            0.99838,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    63.333333% {
        transform: matrix3d(
            1.00081,
            0,
            0,
            0,
            0,
            0.99672,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    66.666667% {
        transform: matrix3d(
            1.00299,
            0,
            0,
            0,
            0,
            0.99685,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    70% {
        transform: matrix3d(
            1.00376,
            0,
            0,
            0,
            0,
            0.99802,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    73.333333% {
        transform: matrix3d(
            1.00353,
            0,
            0,
            0,
            0,
            0.99941,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    76.666667% {
        transform: matrix3d(
            1.00274,
            0,
            0,
            0,
            0,
            1.00046,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    80% {
        transform: matrix3d(
            1.00176,
            0,
            0,
            0,
            0,
            1.00093,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    83.333333% {
        transform: matrix3d(
            1.00084,
            0,
            0,
            0,
            0,
            1.00089,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    86.666667% {
        transform: matrix3d(
            1.00014,
            0,
            0,
            0,
            0,
            1.00056,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    90% {
        transform: matrix3d(
            0.99969,
            0,
            0,
            0,
            0,
            1.00017,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    93.333333% {
        transform: matrix3d(
            0.99947,
            0,
            0,
            0,
            0,
            0.99987,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    96.666667% {
        transform: matrix3d(
            0.99944,
            0,
            0,
            0,
            0,
            0.99974,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
        );
    }
    100% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}
@keyframes swivel {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(-6deg);
    }
    66% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
